SERVER_PORT=8000
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=bindplane
POSTGRES_PASSWORD=
POSTGRES_DB=bindplane

# Only used when no admin user exists in the database
BOOTSTRAP_ADMIN_USERNAME=admin
BOOTSTRAP_ADMIN_PASSWORD=
