SERVER_PORT=8000
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=bindplane
POSTGRES_PASSWORD=
POSTGRES_DB=bindplane
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0
SESSION_EXPIRES_HOURS=336

# Only used when no admin user exists in the database
BOOTSTRAP_ADMIN_USERNAME=admin
BOOTSTRAP_ADMIN_PASSWORD=
